@{
    ViewBag.Title = "Pet Owners";
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
}

<script src="~/ViewModels/api.js"></script>
<script src="~/ViewModels/PetOwners/Index.js"></script>

<div class="row">
    <h2 style="text-align:center">Pet Owners</h2>
</div>

<div class="row row-centered">
    <div class="col-md-8 col-centered">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Registered Pet Owners</h2>
            </div>
            <div class="panel-body" data-bind="with: viewModel">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Address</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody data-bind="foreach: petOwners">
                        <tr>
                            <td data-bind="text: Id"></td>
                            <td data-bind="text: FirstName"></td>
                            <td data-bind="text: LastName"></td>
                            <td data-bind="text: EmailAddress"></td>
                            <td>
                                <a data-bind="attr: { 'href': '@Url.Action("Edit", "PetOwners")/' + Id() }" class="btn btn-default btn-xs">[I] edit</a>
                                <input type="button" class="btn btn-danger btn-xs" value="[x] delete" data-bind="click: $parent.removePetOwner" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />

                <a data-bind="attr: { 'href': '@Url.Action("New", "PetOwners")' }" class="btn btn-default">New Pet Owner</a>
                <input type="submit" class="btn btn-primary" id="btnGetPetOwners" value="Refresh" data-bind="click: load" autofocus="autofocus" />
            </div>
        </div>
    </div>
</div>
